body {
    background-color: white;
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.btn-primary {
    color: white;
}

.selectpicker {

}

.selectpicker~.btn {
    /*padding: 10px 15px;*/
    margin: 0;
    text-transform:none;
    background-color: white !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.selectpicker~.dropdown-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5) ;
}